<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
      <add key="myget-lethek" value="https://www.myget.org/F/lethek/api/v3/index.json" />
      <add key="airtime" value="https://pkgs.dev.azure.com/xtrainsights/_packaging/Airtime/nuget/v3/index.json" />
   </packageSources>
</configuration>